.apply-job-page {
  @include mq(mobile, tablet) {
    .e-default-title {
      font-size: 3.6rem;
    }
  }

  .o-contact-year {
    width: 100%;
  }

  .datepicker #timePicker .time-switcher{
    margin-top: -1.9rem !important;
  }
}

.c-apply-job {
  width: 100%;
  margin: 2rem auto 2.7rem;
  border-radius: 15px;

  @include mq(wide) {
    max-width: 128rem;
  }

  @include mq(desktop, wide) {
    max-width: 102.4rem;
  }

  @include mq(tablet, desktop) {
    max-width: 98rem;
  }

  @include mq(mobile, tablet) {
    max-width: 74rem;
  }

  .o-form-apply {
    z-index: inherit;
    padding: 2rem 10rem;
    background-color: var(--bg-color);
    border-radius: 15px;

    @include mq(mobile, tablet) {
      padding: 2.4rem 2.6rem 2rem 1rem;
    }

    @include mq(mobile, tablet) {
      margin-left: 4rem;
      margin-right: 4rem;
    }

    .o-form-wrap {
      z-index: inherit;


      .form-wrap__col {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
        color: var(--title-text-color);

        @include mq(mobile, tablet) {
          flex-direction: column;
        }
        #datePlaceholder {
          margin-top: 1rem;
          height: 7rem;
          width: 100%;
        }
        label {
          display: block;
          margin-left: 1rem;
          width: 100%;

          &:nth-child(1) {
            @include mq(mobile, tablet) {
              margin-bottom: 1.6rem;
            }
          }
        }

        input {
          background-color: rgba(99, 195, 209, 0.1);
          border: none;
          border-radius: 0.8rem;
          height: 7rem;
          transition: $transition;
          display: block;
          width: 100%;
          margin-top: 1rem;
          padding-left: 1rem;
          color: var(--title-text-color);
          font-size: 1.6rem;

          &:focus {
            outline: none;
            border: none;
          }
        }

        .file-resume {
          cursor: pointer;
          background-color: rgba(99, 195, 209, 0.1);
          border: none;
          border-radius: 8px;
          height: 7rem;
          transition: $transition;
          display: block;
          width: 100%;

          @include mq(wide) {
            max-width: 92.5%;
          }

          @include mq(desktop, wide) {
            max-width: 89.8%;
          }

          @include mq(tablet, desktop) {
            max-width: 86.8%;
          }

          @include mq(mobile, tablet) {
            max-width: 80.5%;
          }

          span {
            position: relative;
            bottom: 4.5rem;
          }

          input {
            opacity: 0;
            position: absolute;
            z-index: -1;
            width: 1px;
          }

          img {
            position: relative;
            background-color: rgba(99, 195, 209, 0.1);
            border-radius: 8px;
            height: 7rem;
            width: 7rem;
            padding: 1.2rem;
            float: right;
            left: 7.5rem !important;

            @include mq(tablet, desktop) {
              left: 9.5rem;
            }

            @include mq(mobile, tablet) {
              left: 10rem;
            }
          }
        }

        &:last-child {
          margin-top: 2rem;
          @include mq(tablet, wide) {
            margin-top: 2.5rem;
          }
        }
      }
    }
  }

  .c-button-module-2 {
    button {
      max-width: 21rem;
    }
  }
}
