
.c-archive-blog {
  width: 100%;
  max-width: 1280px;
  margin: 10rem auto 2.7rem;
  @include no-select;

  @include mq(wide) {
    max-width: 128rem;
  }

  @include mq(desktop, wide) {
    max-width: 102rem;
  }

  @include mq(md, desktop) {
    max-width: 74rem;
  }

  @include mq(mobile, tablet) {
    // max-width: 74rem;
  }

  .archive-blog__grid {
    margin-bottom: $margin-between-sections;

    .archive-blog__grid-item {
      height: 75rem;
      @include mq(mobile, md) {
        padding-left: 2%;
        padding-right: 2%;
        height: auto;
        padding-bottom: 1rem;
      }

      &:nth-child(1) {
        @include mq(md) {
          padding-right: .5rem;
        }
      }

      &:nth-child(2) {
        @include mq(md) {
          padding-left: .5rem;
        }
      }

      .blog-archive-items--lg {
        background-color: var(--bg-color);
        border-radius: 20px;
        padding-bottom: 3rem;
        height: 100%;
        color: var(--title-text-color);

        .img-wrapper {
          img {
            border-radius: 20px;
          }
        }

        h5 {
          margin: 2rem 0 1rem 0;
          padding-left: 3rem;
          font-weight: 400;
        }

        p {
          margin: 1rem 0;
          padding-left: 3rem;
          width: 80%;
          font-weight: 400;
          font-size: 1.6rem;
        }

        .blog-archive-link {
          padding-left: 3rem;
          color: #63c3d1;
          font-weight: 600;
          text-decoration: none;
          font-size: 1.6rem;

          &:after {
            content: url(../../images/tiny-arrow.svg);
            position: relative;
            left: 3px;
            bottom: 0;
          }
        }
      }

      .blog-archive__items {
        background-color: var(--bg-color);
        color: var(--title-text-color);
        border-radius: 2rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        height: 32.5%;
        @include mq(mobile, md) {
          height: auto;
        }

        .img-wrapper {
          border-radius: 2rem;
          height: 15rem;
          overflow: hidden;
          @include mq(md, desktop) {
            height: 13rem;
          }
          @include mq(mobile, md) {
            height: auto;
          }
        }

        h5 {
          margin: 1rem 0 .5rem 0;
          padding-left: 2rem;
          font-weight: 400;
        }

        .blog-archive-link {
          padding-left: 2rem;
          color: #63c3d1;
          font-weight: 600;
          text-decoration: none;
          font-size: 1.6rem;

          &:after {
            content: url(../../images/tiny-arrow.svg);
            position: relative;
            left: .3rem;
            bottom: 0;
          }
        }
      }
    }
  }
}

.c-archive-page__more-post-title {
  z-index: 0;
  width: 100%;
  border-bottom: 3px solid #63c3d1;
  margin-bottom: 2rem;
  align-items: flex-end;
  @include mq(mobile, md) {
    align-items: baseline;
    width: 96%;
  }

  h3 {
    width: 100%;
    font-weight: 700;
    font-size: 2.4rem;
  }

  .c-button-module-2 {
    text-align: right;
    margin-bottom: 1rem;

    button {
      max-width: 19rem;

      span {
        &:after {
          left: 17.5rem
        }
      }
    }
  }
}

.c-archive-page__more-posts {
  z-index: 0;
  margin-bottom: $margin-between-sections;
  align-items: flex-start;
  justify-content: space-between;
  @include mq(md) {
    height: 45rem;
  }
  @include mq(mobile, md) {
    flex-direction: column;
  }

  article {
    width: 32.33333%;
    border-radius: 20px;
    background-color: var(--bg-color);
    height: 100%;
    color: var(--title-text-color);
    @include mq(mobile, md) {
      width: 96%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }

    .img__wrapper {
      height: 23rem;
      overflow: hidden;
      border-radius: 20px;
      @include mq(desktop, wide) {
        height: 18rem;
      }
      @include mq(md, desktop) {
        height: 13rem;
      }
      @include mq(mobile, md) {
        height: auto;
      }

      img {
        border-radius: 20px;
      }
    }
  }

  .content__wrapper {
    padding: 10px 20px;

    h5 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 500;
      font-size: 1.6rem;
    }

    p {
      margin-top: 0;
      font-weight: 400;
      font-size: 1.6rem;
    }

    a {
      color: #63c3d1;
      font-weight: 600;
      text-decoration: none;
      font-size: 1.6rem;

      &:after {
        content: url(../../images/tiny-arrow.svg);
        position: absolute;
        left: 105px;
        bottom: 11px;
      }
    }
  }
}
