.c-companies__slider-wrapper {
  z-index: 9998;
  @include no-select;

  .c-companies__slider_items {
    width: 74% !important;
    min-width: 90rem;
    justify-content: center;
    margin: auto;
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 70px;
    box-shadow: 0 18px 52.8537px rgba(215, 228, 249, 0.5);

    @include mq(desktop, wide) {
      min-width: 82rem;
    }
    @include mq(lg, desktop) {
      min-width: 70rem;
    }
    @include mq(mobileLandscape, lg) {
      min-width: 53.5rem;
    }
    @include mq(mobile, mobileLandscape) {
      min-width: 38rem;
      padding: 19px;
    }

    &:before {
      content: " ";
      position: absolute;
      left: 40%;
      top: 20%;
      z-index: -1;
      background: url(../images/doubleqoute.svg) no-repeat;
      background-size: contain;
      width: 15.8rem;
      height: 11.9rem;
      display: inline-block;
    }

    .c-companies__desc-container {
      .c-companies__desc {
        height: 25rem;
        overflow-y: scroll;

        h4 {
          margin-bottom: .5rem;
          color: var(--title-text-color);
        }

        p:nth-child(2) {
          font-style: normal;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 2.1rem;
          margin-top: 0;
          margin-bottom: 1rem;
          color: var(--title-text-color);

        }

        p:nth-child(3) {
          font-weight: 900;
          font-size: 1.6rem;
          line-height: 4rem;
          text-align: justify;
          color: #94A2B3;

        }
      }
    }

    .c-button-module-2 {
      button {
        max-width: 25%;
        color: var(--btn-text);
        font-weight: 500;

        @include mq(lg, desktop) {
          max-width: 35%;
        }
        @include mq(sm, lg) {
          max-width: 60%;
        }
        @include mq(mobile, sm) {
          max-width: 75%;
        }
      }
    }

    .c-companies__img {
      position: relative;
      left: 0;
      width: 14.3rem;
      flex: 0 0 auto;

      @include mq(mobile, mobileLandscape) {
        width: 67.75px;
        top: 74px;
        left: -22px;
      }

      img {
        border-radius: 50%;
        border: 1px solid #63C3D1;
      }
    }
  }

  .slick-dots {
    position: absolute;
    cursor: pointer;
    font-size: 3.2rem;
    transform: rotate(90deg);
    top: 75%;

    li {

      &::marker {
        color: #63C3D1;
        content: url(../images/inactive-dot.svg);
      }
    }

    li.slick-active {
      &::marker {
        content: url(../images/active-dot.svg);
        color: transparent;
        border: 1px solid #7C6EB0;
      }
    }
  }


  .slick-track {
    width: 100% !important;
    max-width: 100% !important;
    transform: translate3d(0, 0, 0) !important;
    perspective: 100px;
  }

  .slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 1s, opacity 1s;
  }


  .slick-current {
    opacity: 1;
    position: relative;
    display: flex;
    z-index: 2;
    transform: translate3d(0%, 0, 0px);
    background-color: var(--bg-color);
  }

  .slick-snext {
    opacity: 1;
    transform: translate3d(0, 10%, -6px);
    z-index: 1;

    .c-companies__desc-container {
      .c-companies__img {
        img {
          box-shadow: inset 0px -16px 23px rgba(255, 255, 255, 0.6);
          filter: blur(10px);
        }
      }
    }
  }

  .slick-sprev {
    opacity: 1;
    transform: translate3d(0, 20%, -12px);

    .c-companies__desc-container {
      .c-companies__img {
        img {
          box-shadow: inset 0px -16px 23px rgba(255, 255, 255, 0.6);
          filter: blur(8px);
        }
      }
    }
  }


  .slick-list {

    @include mq(mobile, mobileLandscape) {
      padding: 0 68px 0 35px !important;
    }
  }

}

