.c-foot-print {
  .e-default-title {
    @include mq(mobile, tablet) {
      font-size: 3.6rem;
      margin-bottom: 4rem;
      margin-top: 3rem;
    }
  }

  .select2-dropdown .select2-results__options li {
    padding-bottom: 0.5rem !important;
  }
}

.c-foot-print__world-map {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  z-index: 1;
  width: 100%;
  flex-direction: column;

  .data-point{
    cursor: pointer;
  }

  .data-point.hide {
    fill: #9dbbc9;
  }

  .data-point.show {
    fill: #63C3D1;
    stroke-width: 5px;
    stroke: #63C3D1;
    stroke-linecap: square;
    stroke-dashoffset: 25px;
  }

  .c-time-line-box .date span.active:before{
    background-color: #fff;
    border: 2px solid #fbf37f;
  }


  .main-map-container {
    margin: 0 auto;
    @include mq(mobile, tablet) {
      margin-bottom: 9rem;
    }

    svg {
      max-height: 60vh;
      max-width: 100%;
      @include mq(mobile, tablet) {
        height: 40rem;
      }
    }
  }

  .tippy-box[data-theme~='mapPopover'] {
    max-width: 168px !important;
    background: #F7F7F7 !important;
    border-radius: 10px !important;
    font-weight: 400 !important;
    font-size: 1.6rem !important;
    color: rgba(33, 56, 66, 0.6) !important;
    cursor: pointer !important;

    .tippy-content {
      padding: 0 !important;

      a {
        text-decoration: none;

        p {
          margin-bottom: 0;
          font-size: 1.4rem;
          color: rgba(33, 56, 66, 0.6);
          text-align: center;
          padding: 9px;
        }

        img {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          max-height: 168px;
        }
      }

    }
  }
}

.c-foot-print__dropdown {
  position: absolute;
  color: white;
}

#foot-print-nav {
  .select2-selection--single {
    background-color: rgba(99, 195, 209, 0.1);
    font-size: 1.6rem;
    border: none;
    border-radius: 8px;
    height: 56px;
    padding-top: 3%;
    padding-left: 3%;
    margin-bottom: .5rem;
    transition: $transition;

    span {
      color: var(--title-text-color);
      font-weight: 400;
    }

    .select2-selection__arrow {
      top: 15px;

      b {
        background: url('../images/arrowDown.svg') no-repeat center bottom;
        background-size: contain;
        border: none !important;
        height: 16px !important;
        width: 16px !important;
        margin: auto !important;
        top: 20%;
        left: -60%;
        transition: $transition;
      }
    }
  }


  .select2-container--open {

    .select2-selection__arrow {
      b {
        top: 25%;
        transform: rotate(180deg) !important;
        left: -60%;
        transition: $transition;
      }
    }
  }

}
