@mixin base-svg-bg($coordinateX: 0, $coordinateY: 0) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: $coordinateX;
    top: $coordinateY;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.c-home__bg-waves {
    width: 100%;
    margin: 0;
    overflow: hidden;
    z-index: 0;

    @include mq(desktop) {

        svg {
            overflow: hidden;
        }

        svg:nth-child(1) {
            @include base-svg-bg($coordinateX: 84.31%, $coordinateY: 38%);
            // animation-name: moving-wave;
        }

        svg:nth-child(2) {
            @include base-svg-bg($coordinateX: 87.28%, $coordinateY: 24.29%);
            // animation-name: moving-wave-reverse;
        }

        svg:nth-child(3) {
            @include base-svg-bg($coordinateX: 85.65%, $coordinateY: -1.19%);
        }

        svg:nth-child(4) {
            @include base-svg-bg($coordinateX: 87.53%, $coordinateY: 42.79%);
        }

        svg:nth-child(5) {
            @include base-svg-bg($coordinateX: 86.35%, $coordinateY: 41.89%);
        }

        svg:nth-child(6) {
            @include base-svg-bg($coordinateX: 87.89%, $coordinateY: 44.05%);
        }

        svg:nth-child(7) {
            @include base-svg-bg($coordinateX: 87.18%, $coordinateY: 74.18%);
        }

        svg:nth-child(8) {
            @include base-svg-bg($coordinateX: 86.5%, $coordinateY: 72.98%);
        }

        svg:nth-child(9) {
            @include base-svg-bg($coordinateX: 89.58%, $coordinateY: 74.15%);
        }

        svg:nth-child(10) {
            @include base-svg-bg($coordinateX: 87.77%, $coordinateY: 76.42%);
        }

        svg:nth-child(11) {
            @include base-svg-bg($coordinateX: 67.33%, $coordinateY: 14.22%);
        }

        svg:nth-child(12) {
            @include base-svg-bg($coordinateX: 62.09%, $coordinateY: 9.52%);
        }

        svg:nth-child(13) {
            @include base-svg-bg($coordinateX: 53.85%, $coordinateY: 4.16%);
        }

        svg:nth-child(14) {
            @include base-svg-bg($coordinateX: 63.8%, $coordinateY: -5.58%);
        }

        svg:nth-child(15) {
            @include base-svg-bg($coordinateX: 77.82%, $coordinateY: -1.31%);
        }

        svg:nth-child(16) {
            @include base-svg-bg($coordinateX: 73.31%, $coordinateY: 4.53%);
        }

        svg:nth-child(17) {
            @include base-svg-bg($coordinateX: 74.04%, $coordinateY: 1.88%);
        }

        svg:nth-child(18) {
            @include base-svg-bg($coordinateX: 71.42%, $coordinateY: 28.88%);
        }

        svg:nth-child(19) {
            @include base-svg-bg($coordinateX: 60.55%, $coordinateY: 5.37%);
        }

        svg:nth-child(20) {
            @include base-svg-bg($coordinateX: 60.94%, $coordinateY: -31.81%);
        }

        svg:nth-child(21) {
            @include base-svg-bg($coordinateX: 53.64%, $coordinateY: -38.39%);
        }

        svg:nth-child(22) {
            @include base-svg-bg($coordinateX: 48.46%, $coordinateY: -18.69%);
        }

        svg:nth-child(23) {
            @include base-svg-bg($coordinateX: 47.32%, $coordinateY: -36.54%);
        }

        svg:nth-child(24) {
            @include base-svg-bg($coordinateX: 57.86%, $coordinateY: -35.35%);
        }

        svg:nth-child(25) {
            @include base-svg-bg($coordinateX: 55.82%, $coordinateY: -38.39%);
        }

        svg:nth-child(26) {
            @include base-svg-bg($coordinateX: 81.36%, $coordinateY: -27.13%);
        }

        svg:nth-child(27) {
            @include base-svg-bg($coordinateX: 71.37%, $coordinateY: 15.55%);
        }
    }
    @include mq(mobile, desktop) {

        svg {
            overflow: hidden;
        }

        svg:nth-child(1) {
            @include base-svg-bg($coordinateX: 74.31%, $coordinateY: 38%);
            // animation-name: moving-wave;
        }

        svg:nth-child(2) {
            @include base-svg-bg($coordinateX: 87.28%, $coordinateY: 24.29%);
            // animation-name: moving-wave-reverse;
        }

        svg:nth-child(3) {
            @include base-svg-bg($coordinateX: 65.65%, $coordinateY: -1.19%);
        }

        svg:nth-child(4) {
            @include base-svg-bg($coordinateX: 47.53%, $coordinateY: 42.79%);
        }

        svg:nth-child(5) {
            @include base-svg-bg($coordinateX: 16.35%, $coordinateY: 41.89%);
        }

        svg:nth-child(6) {
            @include base-svg-bg($coordinateX: 37.89%, $coordinateY: 44.05%);
        }

        svg:nth-child(7) {
            @include base-svg-bg($coordinateX: 57.18%, $coordinateY: 74.18%);
        }

        svg:nth-child(8) {
            @include base-svg-bg($coordinateX: 76.5%, $coordinateY: 72.98%);
        }

        svg:nth-child(9) {
            @include base-svg-bg($coordinateX: 19.58%, $coordinateY: 74.15%);
        }

        svg:nth-child(10) {
            @include base-svg-bg($coordinateX: 27.77%, $coordinateY: 76.42%);
        }

        svg:nth-child(11) {
            @include base-svg-bg($coordinateX: 37.33%, $coordinateY: 14.22%);
        }

        svg:nth-child(12) {
            @include base-svg-bg($coordinateX: 42.09%, $coordinateY: 9.52%);
        }

        svg:nth-child(13) {
            @include base-svg-bg($coordinateX: 53.85%, $coordinateY: 4.16%);
        }

        svg:nth-child(14) {
            @include base-svg-bg($coordinateX: 33.8%, $coordinateY: -5.58%);
        }

        svg:nth-child(15) {
            @include base-svg-bg($coordinateX: 77.82%, $coordinateY: -1.31%);
        }

        svg:nth-child(16) {
            @include base-svg-bg($coordinateX: 73.31%, $coordinateY: 4.53%);
        }

        svg:nth-child(17) {
            @include base-svg-bg($coordinateX: 24.04%, $coordinateY: 1.88%);
        }

        svg:nth-child(18) {
            @include base-svg-bg($coordinateX: 31.42%, $coordinateY: 28.88%);
        }

        svg:nth-child(19) {
            @include base-svg-bg($coordinateX: 12.55%, $coordinateY: 5.37%);
        }

        svg:nth-child(20) {
            @include base-svg-bg($coordinateX: 10.94%, $coordinateY: -31.81%);
        }

        svg:nth-child(21) {
            @include base-svg-bg($coordinateX: 23.64%, $coordinateY: -38.39%);
        }

        svg:nth-child(22) {
            @include base-svg-bg($coordinateX: 28.46%, $coordinateY: -18.69%);
        }

        svg:nth-child(23) {
            @include base-svg-bg($coordinateX: 17.32%, $coordinateY: -36.54%);
        }

        svg:nth-child(24) {
            @include base-svg-bg($coordinateX: 27.86%, $coordinateY: -35.35%);
        }

        svg:nth-child(25) {
            @include base-svg-bg($coordinateX: 15.82%, $coordinateY: -38.39%);
        }

        svg:nth-child(26) {
            @include base-svg-bg($coordinateX: 21.36%, $coordinateY: -27.13%);
        }

        svg:nth-child(27) {
            @include base-svg-bg($coordinateX: 41.37%, $coordinateY: 15.55%);
        }
    }

}