.c-mix {
  z-index: 0;
  width: 100%;
  margin: 13rem auto 2.7rem;

  @include mq(wide) {
    max-width: 128rem;
  }

  @include mq(desktop, wide) {
    max-width: 102rem;
  }

  @include mq(md, lg) {
    max-width: 75rem;
  }
  @include mq(lg, desktop) {
    max-width: 95rem;
  }

  @include mq(mobile, md) {
    margin-top: 10rem;
    max-width: 64rem;
  }

  .main-row {
    @include mq(mobile, md) {
      flex-direction: column;
    }

    @include mq(md) {
      #left-col {
        margin-right: 1rem;
      }

      #center-col {
        margin-right: 1rem;
      }
    }
  }

  #left-col,
  #center-col,
  #right-col {
    height: 64.1rem;
    max-width: 32%;

    @include mq(mobile, sm) {
      width: 100%;
      max-width: 80%;
    }

    @include mq(sm, md) {
      width: 100%;
      max-width: 100%;
    }

    @include mq(mobile, md) {
      margin-bottom: 2rem;
    }
  }

  .card {
    width: 100%;
    background: var(--bg-color);
    border-radius: $border-radius-2;
    padding: 1.6rem 2.6rem;

    .title {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: var(--title-text-color);
      margin-top: 3.2rem;
      display: none;
    }

    .sub-title {
      font-size: 1.6rem;
      line-height: 1.9rem;
      display: flex;
      align-items: center;
      letter-spacing: -0.0331016rem;
      color: var(--title-text-color);
      margin-top: 2.4rem;
      margin-bottom: 1.2rem;
    }

    .tag-container {
      box-sizing: border-box;
      background: $color-gray-1;
      border: 0.0918551rem solid $color-gray-0;
      border-radius: $border-radius-0;
      padding: 1.2rem;
      display: inline-block;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-right: 1.2rem;
      margin-bottom: 1.2rem;

      &.selected {
        background: $color-blue-0;
      }

      .tag-text {
        font-style: normal;
        font-weight: 500;
        font-size: 1.60746rem;
        line-height: 2rem;
        display: flex;
        align-items: center;
        letter-spacing: -0.0344457rem;
        color: $color-gray-2;

        &.selected {
          color: $color-white-4;
        }
      }

      .icon-plus {
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 0.8rem;
        position: relative;

        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;

        &:after,
        &:before {
          content: '';
          position: absolute;
          background: $color-gray-2;
        }

        &:after {
          width: 1.6rem;
          height: 0.1rem;
          top: .8rem;
        }

        &:before {
          width: 0.1rem;
          height: 1.6rem;
          left: 0.8rem;
        }

        &.rotate-icon {
          transform: rotate(45deg);

          &:after,
          &:before {
            background: $color-white-4;
          }
        }
      }
    }
  }

  .card-service {
    height: 8.8rem;
    cursor: pointer;
    transition: all 0.3s ease;

    img {
      max-height: 100%;
      min-width: 8rem;

      @include mq(mobile, md) {
        min-height: 6rem;
        min-width: 6rem;
      }
    }

    &.is-selected {
      height: 18.1rem;

      .service-name {
        color: var(--title-text-color);
        margin-top: 2rem;
      }
    }

    .service-name {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: $color-blue-0;
    }
  }

  .c-button-module-2 {
    text-align: right;
    margin-bottom: 1rem;

    @include mq(mobile, md) {
      max-width: 68%;
    }

    button {
      max-width: 19rem;
    }
  }

  //#region Staff
  //#region DropDown
  .select2-dropdown .select2-results__options {
    max-height: 35.2rem !important;
  }

  #frm-level-single, #frm-team, .container-developer {
    width: 97%;
  }

  #frm-team {
    li:hover:after {
      content: none;
    }
  }

  .o-form-container {
    max-height: 52rem;

    .select2-container--default {
      .select2-search--inline .select2-search__field {
        color: $color-white-0;
        margin-top: 1.6rem;

        &::placeholder {
          padding-left: 2rem;
        }
      }

      .select2-dropdown--below .select2-results__options li,
      .select2-dropdown--above .select2-results__options li {
        color: $color-white-0;
        padding-left: 2rem;

        &[aria-selected=true] {
          &:after {
            content: url(../images/check.svg) !important;
            position: absolute;
            color: green;
            right: 10%;
            top: auto;
          }
        }
      }

      .select2-selection--multiple {
        .select2-selection__choice {
          background: $color-blue-0;
          font-size: 1.60746rem;

          .select2-selection__choice__remove {
            color: $color-white-0;
          }
        }
      }
    }

    margin-top: 0;

    .u-form--wrap {
      background: none;
      box-shadow: none;
      padding: 0;
      align-items: flex-start;
      overflow-y: scroll;
      border-radius: 0;

      label {
        margin-top: 2.7rem;
        z-index: 0;

        .select2-container {
          .select2-selection--single {
            .select2-selection__rendered {
              text-transform: capitalize;
              color: $color-white-3;
            }

            .select2-selection__arrow {
              display: inline;

              b {
                background: url("/images/arrow-top-white.svg") no-repeat center bottom;
                top: 0;
              }
            }
          }

          .select2-selection--multiple {
            background: rgba(99, 195, 209, 0.1);
            border-radius: 0.8rem;
            min-height: 5.2rem;
            border: none;
          }
        }
      }
    }
  }

  //endregion
  .container-developer {
    display: none;

    .lbl {
      font-size: 1.6rem;
      line-height: 1.9rem;
      letter-spacing: -0.0331016rem;
      color: $color-white-0;
      margin-top: 2.4rem;
      margin-bottom: 1.6rem;
    }

    .minus, .plus {
      width: 1.6rem;
      height: 1.6rem;
      content: " ";
      background-size: contain !important;
      display: inline-block;
      cursor: pointer;
    }

    .number {
      width: 2.008rem;
      height: 2.008rem;
      border: .1rem solid $color-blue-0;
      border-radius: 0.6rem;
      margin: 0.3rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: $color-white-0;
    }

    .minus {
      background: url("/images/icon/minus-blue.svg") no-repeat center;
    }

    .plus {
      background: url("/images/icon/plus-blue.svg") no-repeat;
    }
  }

  .add-staff {
    display: none;
    margin-top: 2rem;

    .c-button-module-2 {
      width: 60%;

      button {
        max-width: 12rem;
      }
    }
  }

  //endregion

  #invoice {
    display: none;

    .text {
      font-weight: 700;
      font-size: 2.0rem;
      line-height: 2.3rem;
      color: $color-white-4;
      margin-top: 4.8rem;
      margin-bottom: 2.9rem;
    }

    .subject-title {
      line-height: 1.5rem;
      letter-spacing: 0.05em;
      color: $color-white-4;
    }

    .subject-value {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: $color-white-4;
      padding-left: 0.5rem;
    }


    .purple-text {
      color: $color-purple-5;
    }

    .tbl-items, .tbl-result, .subject-title {
      font-size: 1.2rem;
    }

    .tbl-items {
      margin-top: 2rem;
      margin-bottom: 1rem;

      .header {
        margin-bottom: 2rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $color-white-4;

        div:last-child {
          padding-right: 0;
          text-align: right;
        }
      }

      .body {
        font-weight: 600;
        line-height: 1.5rem;
        color: $color-white-4;
        padding-bottom: 1rem;

        div:last-child {
          padding-right: 0;
          text-align: right;
        }

        &:last-child {
          border-bottom: solid .2rem #63C3D1;
        }
      }

    }

    .tbl-result {
      .d-flex:last-child {
        padding-top: 2.6rem;

        div {
          &:first-child {
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 0.05em;
            color: $color-white-4;
          }

          &:last-child {
            font-weight: 800;
            font-size: 2.0rem;
            line-height: 2.4rem;
            text-align: right;
            color: $color-blue-0;
          }
        }
      }
    }
  }
}
