.c-our-services {
    display: flex;
    @include no-select;

    .wrapper {
        width: 100%;

        @include mq(mobile, md) {
            display: flex;
            flex-direction: column-reverse;
        }

        .o-our-services__content {
            width: 100%;
            margin: 1.5% auto;

            &:nth-child(1) {
                article {
                    &:nth-child(3) {
                        @include mq(mobile, md) {
                            margin-top: 3rem;
                        }
                    }
                }
            }

            @include mq(wide) {
                max-width: 128rem;
            }

            @include mq(desktop, wide) {
                max-width: 98rem;
            }

            @include mq(md, desktop) {
                max-width: 74rem;
            }

            @include mq(mobile, md) {
                flex-wrap: wrap;
            }

            article {
                background-color: var(--bg-color);
                border-radius: 15px;
                padding: 3vh;
                height: 30vh;
                text-align: center;
                font-weight: 500;
                font-size: 1.4rem;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                transition: $transition;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include mq(md, desktop) {
                    height: 25rem;
                }

                @include mq(mobile, md) {
                    height: 20rem;
                    padding: 1vh;
                }

                img {
                    height: 5rem;
                    width: 5rem;
                    margin-left: auto;
                    margin-right: auto;

                    @include mq(mobile, md) {
                        margin-top: 5rem;
                    }
                }

                &:hover {
                    box-shadow: 0 7px 21px rgba(255, 255, 255, 0.3),
                        0 24.4561px 66.068px rgba(28, 38, 54, 0.0413989),
                        0 11.873px 32.0748px rgba(28, 38, 54, 0.0333774),
                        0 5.82036px 15.7237px rgba(28, 38, 54, 0.0266226),
                        0 2.30138px 6.21716px rgba(28, 38, 54, 0.0186011);
                    transition: $transition;

                    h5 {
                        color: var(--service-title-hover);
                    }
                }

                h5 {
                  @include mq(mobile, lg) {
                    margin-bottom: 0;
                  }
                    a {
                        color: var(--service-title);
                        font-weight: 500;
                        font-size: 1.8rem;
                        text-decoration: none;

                        @include mq(mobile, md) {
                            margin-bottom: 0;
                        }
                    }
                }

                p {
                    color: var(--title-text-color);
                }

            }

        }
    }

    .content--margin {
        margin-top: 0;
    }

}
