.c-team-member {
  overflow: hidden;

  %position-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .sections__go-back {
    @extend %position-footer;
    bottom: 9rem;
  }

  hr {
    @extend %position-footer;
    bottom: 7rem;
  }

  .o-contact-share {
    @extend %position-footer;
    bottom: 5rem;
  }

  .o-contact-year {
    @extend %position-footer;
    bottom: 0;
  }


  #universe {
    z-index: 1;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: skew(70deg, -35deg);
    top: 3%;
  }

  #galaxy {
    position: relative;
    width: 100%;
    height: 100%;
    /*perspective: 4000;*/
  }

  #solar-system {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  .orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid rgba(224, 224, 224, .8);
    border-radius: 50%;
    transform-style: preserve-3d;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .orbit .orbit {
    animation-name: suborbit;
  }

  .pos {
    position: absolute;
    top: 50%;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-left: -1em;
    transform-style: preserve-3d;
    animation-name: invert;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-property: top, left;
    transition-delay: 1s;
  }

  #sun,
  .planet {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -1em;
    margin-left: -0.5em;
    border-radius: 50%;
    transform-style: preserve-3d;
  }

  #mercury .planet {
    margin-top: -.5em;
  }

  #sun {
    background-color: #FB7209;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
    z-index: 1;
    background-image: url("/images/team-member-1.svg");
  }

  .planet {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  /* --------------------------------------------------------------------------- planets index */
  #mercury {
    z-index: 0;
  }

  #venus {
    z-index: 0;
  }

  #earth {
    z-index: 0;
  }

  #moon {
    z-index: 0;
  }

  #mars {
    z-index: 0;
  }

  #jupiter {
    z-index: 0;
  }

  #saturn {
    z-index: 9998;
  }

  #uranus {
    z-index: 0;
  }

  #neptune {
    z-index: 0;
  }

  /* --------------------------------------------------------------------------- animations */
  @keyframes orbit {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(-360deg);
    }
  }

  @keyframes suborbit {
    0% {
      transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(90deg) rotateZ(-360deg);
    }
  }

  @keyframes invert {
    0% {
      transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
  }


  //
  /* --------------------------------------------------------------------------- data */

  /* --------------------------------------------------------------------------- planets sizes */
  /* --------------------------------------------------------------------------- stretched sizes */
  .scale-stretched #sun {
    font-size: 14em;
  }

  .scale-stretched #mercury .planet {
    font-size: 2em;
  }

  .scale-stretched #venus .planet {
    font-size: 10em;
  }

  .scale-stretched #earth .planet {
    font-size: 8em;
  }

  .scale-stretched #earth .moon {
    font-size: 3em;
  }

  .scale-stretched #mars .planet {
    font-size: 6em;
  }

  .scale-stretched #jupiter .planet {
    font-size: 7em;
  }

  .scale-stretched #saturn .planet {
    font-size: 10.8em;
  }

  .scale-stretched #uranus .planet {
    font-size: 11.68em;
  }

  .scale-stretched #neptune .planet {
    font-size: 4.9em;
  }

  /* --------------------------------------------------------------------------- scaled sizes */
  /*
  (planets radius * 2) * ratio
  */
  /*$distanceScaleRatio:   0.000075em;*/
  /* --------------------------------------------------------------------------- planets distance scale sizes */
  //
  /* --------------------------------------------------------------------------- stretched orbits */
  .scale-stretched #mercury.orbit {
    width: 40em;
    height: 40em;
    margin-top: -19em;
    margin-left: -22em;
  }

  .scale-stretched #venus.orbit {
    width: 60em;
    height: 60em;
    margin-top: -30em;
    margin-left: -32em;
  }

  .scale-stretched #earth.orbit {
    width: 80em;
    height: 80em;
    margin-top: -39em;
    margin-left: -41em;
  }


  .scale-stretched #mars.orbit {
    width: 100em;
    height: 100em;
    margin-top: -49em;
    margin-left: -52em;

  }

  .scale-stretched #jupiter.orbit {
    width: 130em;
    height: 130em;
    margin-top: -63em;
    margin-left: -66em;
  }

  .scale-stretched #saturn.orbit {
    width: 160em;
    height: 160em;
    margin-top: -75em;
    margin-left: -80em;
  }

  .scale-stretched #uranus.orbit {
    width: 200em;
    height: 200em;
    margin-top: -96em;
    margin-left: -100em;
  }

  .scale-stretched #neptune.orbit {
    width: 220em;
    height: 220em;
    margin-top: -105em;
    margin-left: -110em;
  }

  /* --------------------------------------------------------------------------- transitions */

  #solar-system,
  .orbit,
  .planet,
  .satelite,
  .ring {
    transition-property: width, height, top, left, margin-left, margin-top, webkit-transform;
  }

  #sun,
  .icon {
    transition-property: width, height, webkit-transform;
  }

  #solar-system,
  #sun,
  .orbit,
  .pos,
  .planet,
  .satelite,
  .ring,
  .infos,
  .icon {
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
  }

  #solar-system,
  #sun,
  .planet,
  .satelite,
  .ring {
    transition-delay: 0s;
  }

  .opening .pos {
    transition-delay: 0s;
  }


  /* --------------------------------------------------------------------------- images */

  #mercury .planet {
    background-image: url("/images/mercury.svg");
  }

  #venus .planet {
    background-image: url("/images/venus.svg");
  }

  #earth .planet {
    background-image: url("/images/earth.svg");
  }

  #mars .planet {
    background-image: url("/images/mars.svg");
  }

  #jupiter .planet {
    background-image: url("/images/saturn.svg");
  }

  #saturn .planet {
    background-image: url("/images/mercury.svg");
  }

  #uranus .planet {
    background-image: url("/images/uranus.svg");
  }

  #neptune .planet {
    background-image: url("/images/team-member-1.svg");
  }

  /* --------------------------------------------------------------------------- responsive styles */
  @media screen and (min-width: 320px) {
    #universe {
      top: 40%;
      right: 5%;
    }

    #earth .pos {
      left: 97%;
      top: 85%;
    }

    #mars .pos {
      left: 98%;
      top: 45%;
    }

    #jupiter .pos {
      left: 100%;
      top: 53%;
    }

    #neptune .pos {
      left: 80%;
      top: 94%;
    }

    #uranus .pos {
      left: 80%;
      top: 20%;
    }

    #saturn .pos {
      left: 97%;
      top: 80%;
    }

    #venus .pos {
      left: 100%;
      top: 70%;
    }
    #mercury .pos {
      left: 50%;
      top: 0;
    }
    #sun {
      top: 53%;
    }
    #mercury .pos,
    #mercury .planet,
    #mercury.orbit {
      animation-duration: 10s;
    }

    #venus .pos,
    #venus .planet,
    #venus.orbit {
      animation-duration: 10000000s;
    }

    #earth .pos,
    #earth .planet,
    #earth.orbit {
      animation-duration: 10000000s;
    }

    #earth .orbit .pos,
    #earth .orbit {
      animation-duration: 10000000s;
    }

    #mars .pos,
    #mars .planet,
    #mars.orbit {
      animation-duration: 10000000s;
    }

    #jupiter .pos,
    #jupiter .planet,
    #jupiter.orbit {
      animation-duration: 10000000s;
    }

    #saturn .pos,
    #saturn .planet,
    #saturn.orbit,
    #saturn .ring {
      animation-duration: 10000000s;
    }

    #uranus .pos,
    #uranus .planet,
    #uranus.orbit {
      animation-duration: 10000000s;
    }

    #neptune .pos,
    #neptune .planet,
    #neptune.orbit {
      animation-duration: 10000000s;
    }
  }

  @media screen and (max-width: 320px) {
    #universe {
      top: 0%;
      right: 18%;
      font-size: 52%;
      width: 160%;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 376px) {
    #universe {
      top: 0%;
      font-size: 61%;
      right: 18%;
      width: 160%;
    }
  }

  @media screen and (min-width: 376px) and (max-width: 576px) {
    #universe {
      top: 0%;
      font-size: 69%;
      right: 18%;
      width: 160%;
    }
  }

  @media screen and (min-width: 576px) and (max-width: 768px) {
    #universe {
      top: 0;
      font-size: 60%;
      right: 10%;
      width: 110%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    #universe {
      top: 13%;
      font-size: 109%;
      right: 31%;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    #universe {
      font-size: 100%;
      right: 21%;
      width: 130%;
      top: 26%;
    }
  }

  @media screen and (min-width: 1440px) {
    #universe {
      font-size: 120%;
      width: 120%;
    }
  }

}

/* --------------------------------------------------------------------------- 3D view */


.view-3D .c-team-member #solar-system {
  transform: rotateX(75deg);
}

.view-3D .c-team-member #sun {
  transform: rotateX(-90deg) skew(-70deg, 35deg);
}

.view-3D .c-team-member .planet {
  transform: rotateX(0deg) skew(-70deg, 35deg);
}

.infos {
  font-size: .5rem;
  position: relative;
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  background-color: #252525;
  padding: 1rem 1rem .5rem 1rem;
  border-radius: 8px;
  width: 12rem;
  bottom: 5rem;
  right: 1rem;

  h5 {
    font-size: .6rem;
    margin-bottom: 0;
  }

  p {
    font-size: .5rem;
    margin-bottom: 0;
    line-height: 130%;
  }

  .media-share {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    a {
      img {
        width: 1rem;
      }

      &:first-child {
        img {
          position: relative;
          top: 1px;
        }
      }
    }
  }
}

#jupiter .infos {
  bottom: 5.7rem;
  right: 3rem;
  @include mq(lg, desktop) {
    bottom: 5.3rem;
  }
  @include mq(tablet, lg) {
    bottom: 4.5rem;
    right: 9rem;
  }
  @include mq(mobile, tablet) {
    bottom: 4rem;
    right: 6rem;
  }
}

#neptune .infos {
  bottom: 5.5rem;
  right: 3.5rem;

  @include mq(desktop, wide) {
    right: 9.8rem;
  }
  @include mq(lg, desktop) {
    right: 8.7rem;
  }
  @include mq(tablet, lg) {
    bottom: 3.3rem;
    right: 6.5rem;
  }
  @include mq(mobile, tablet) {
    right: 9.5rem;
  }
}

#venus .infos {
  bottom: 4.6rem;
  right: 2.6rem;
  @include mq(mobile, tablet) {
    right: 1.6rem;
  }
}

#mars .infos {
  bottom: 5rem;
  right: 6.5rem;
  @include mq(lg, desktop) {
    right: 7.3rem;
  }
}

#earth .infos {
  bottom: 5rem;
  right: 2.5rem;
  @include mq(mobile, tablet) {
    right: 4.5rem;
  }
}

#uranus .infos {
  bottom: 4.5rem;
  @include mq(tablet, lg) {
    bottom: 2.1rem;
    right: 2rem;
  }
  @include mq(mobile, tablet) {
    bottom: 1.5rem;
    right: -2rem;
  }
}

#saturn .infos {
  @include mq(lg, desktop) {
    right: 3.7rem;
    bottom: 2.1rem;
  }
  @include mq(tablet, lg) {
    bottom: 1.1rem;
    right: 9.2rem;
  }
  @include mq(mobile, tablet) {
    right: 9rem;
    bottom: 3rem;
  }
}


// #saturn .planet {
//   &:hover {
//     .infos {
//       visibility: visible;
//       opacity: 1;
//     }
//   }
// }
.show-team {
  visibility: visible;
  opacity: 1;
}
