@mixin bg-basic-config($bg-img) {
    position: absolute;
    background: $bg-img;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.u-home__bg {

    svg {
        .bg__stars {
            animation-duration: 5s;
            animation-delay: 2s;
            animation-iteration-count: infinite;
            animation-name: shine;
            transition: $transition;
        }

        .bg__stars-1 {
            animation-duration: 2s;
            animation-delay: 3s;
            animation-iteration-count: infinite;
            animation-name: shine;
            transition: $transition;
        }

        .bg__stars-2 {
            animation-duration: 3s;
            animation-delay: 7s;
            animation-iteration-count: infinite;
            animation-name: shine;
            transition: $transition;
        }
    }
}

@keyframes shine {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }
}

.u-home__bg--secondary {
    @include bg-basic-config($bg-img: var(--bg-img));

    iframe {
        @include mq(hd) {
            display: none;
        }
    }
}

.u-team-bg {
    position: absolute;
    background: url("/images/cloud.svg");
    background-size: auto;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
