@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        $browser: '-webkit-'; @content;
    }
    @-moz-keyframes #{$animationName} {
        $browser: '-moz-'; @content;
    }
    @-o-keyframes #{$animationName} {
        $browser: '-o-'; @content;
    }
    @keyframes #{$animationName} {
        $browser: ''; @content;
    }
} $browser: null;

@include keyframes('moving-wave') {
    0% {
        left: 50%;
    }
    50% {
        left: 51%;
    }
    100% {
        left: 50%;
    }
}
@include keyframes('moving-wave-reverse') {
    0% {
        left: 50%;
    }
    50% {
        left: 49%;
    }
    100% {
        left: 50%;
    }
}

@include keyframes('team-animation-up') {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@include keyframes('team-animation-down') {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 100%;
  }
}
@include keyframes('music-icon') {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}