#particles-js,
#particles-js-1,
#particles-js-2,
#particles-js-3,
#particles-js-4,
#particles-js-5 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}