::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 20, 45, 0.01);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}
