.main-popup {
  z-index: 9998;
  width: 100%;
  height: 100%;
  background: var(--bg-color-popup);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;


  .popup-container {
    height: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .popup__content {
      margin-right: auto;
      margin-left: auto;
      background: var(--bg-color-popup-content);
      padding: 3rem 3rem;
      border-radius: $border-radius-2;

      .c-button-module-2 {
        @include mq(mobile, desktop) {
          margin-top: 3rem;
          width: 42%;
          margin-right: auto;
          margin-left: auto;
        }

        a {
          span:after {
            @include mq(mobile, desktop) {
              line-height: 5rem;
            }
          }
        }
      }
    }

    .box-booking {
      width: 50rem;
      @include mq(mobile, sm) {
        width: 90%;
      }

      h4 {
        font-size: 1.8rem;
        font-weight: 900;
        line-height: 2.4rem;
        text-align: center;
        text-transform: capitalize;
        color: $color-white-1;
      }

      label {
        padding-bottom: 0.5rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: -0.0331016rem;
        color: $color-white-1;
        text-align: left;
      }

      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: rgba($color: #63C3D1, $alpha: 0.1);
        color: #fff;
        height: 5.2rem;
        border-radius: $border-radius-1;
        margin-bottom: 1rem;
        border: none;
        padding-left: 1rem;
        font-size: 1.6rem;

        &:focus {
          border: none;
          outline: none;
        }
      }

      textarea {
        resize: none;
        background-color: rgba($color: #63C3D1, $alpha: 0.1);
        height: 10.9rem;
        border-radius: $border-radius-1;
        border: none;
        margin-bottom: 2rem;
        padding-left: 1rem;
        color: #fff;
        font-size: 1.6rem;
        padding-top: 1rem;

        &:focus {
          outline: none;
        }
      }

    }

    .box-success-msg {
      z-index: 1;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 40rem;

      p {
        text-align: center;
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }

      .c-button-module-2 {
        margin-top: 2%;
        margin-bottom: 2%;
        display: block;
        text-align: center;
      }
    }

  }
}

