// Firan Sans

    @font-face {
    font-family: 'Fira Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Sans Regular'), url('../fonts/FiraSans/FiraSans-Regular.woff') format('woff');
    }

    @font-face {
    font-family: 'Fira Sans Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Sans Thin'), url('../fonts/FiraSans/FiraSans-Thin.woff') format('woff');
    }

    @font-face {
    font-family: 'Fira Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Sans Light'), url('../../fonts/FiraSans/FiraSans-Light.woff') format('woff');
    }

    @font-face {
    font-family: 'Fira Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Sans Medium'), url('../../fonts/FiraSans/FiraSans-Medium.woff') format('woff');
    }

    @font-face {
    font-family: 'Fira Sans SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Sans SemiBold'), url('../../fonts/FiraSans/FiraSans-SemiBold.woff') format('woff');
    }

    @font-face {
    font-family: 'Fira Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Sans Bold'), url('../../fonts/FiraSans/FiraSans-Bold.woff') format('woff');
    }

    @font-face {
    font-family: 'Fira Sans ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Sans ExtraBold'), url('../../fonts/FiraSans/FiraSans-ExtraBold.woff') format('woff');
    }

    @font-face {
    font-family: 'Fira Sans Black';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Sans Black'), url('../../fonts/FiraSans/FiraSans-Black.woff') format('woff');
    }
