$border-radius-0: 0.574094rem;
$border-radius-1: 0.8rem;
$border-radius-2: 1.5rem;
$border-radius-3: 2.5rem;

$color-purple-0: #241E46B2;
$color-purple-1: #241e46f2; //rgba(36, 30, 70, 0.95);
$color-purple-2: #241E46;
$color-purple-3: #28274D;
$color-purple-4: #2A2E54;
$color-purple-5: #7C6EB0;
$color-purple-6: #7C6EB01E; //rgba(124, 110, 176, 0.12);
$color-purple-7: #7C6EB08C; //rgba(124, 110, 176, 0.55);
$color-purple-8: #7C6EB0FF; //rgba(124, 110, 176);

$color-blue-0: #63C3D1;

$color-white-0: #DDDDDD;
$color-white-1: #EAEAEA;
$color-white-2: #F7FAFF;
$color-white-3: #F4F4F4;
$color-white-4: #FFF;
$color-white-5: #FFFFFF99;

$color-gray-0: #D9D9D94C; //rgba(217, 217, 217, 0.3)
$color-gray-1: #FFFFFF19; //rgba(255, 255, 255, 0.1);
$color-gray-2: #738297;

$linear-gradient: linear-gradient(180deg, $color-purple-7 0%, $color-purple-6 100%);

$margin-between-sections: 7.7rem;
$grey-purplish: #616173;

$font-size-button-titles: 1.8rem;
$font-size-main: 1.6rem;
